<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <div id="app">
        <p v-if="isAuth">
            True
        </p>
        <p v-else>
            False
        </p>
    </div>
    
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='vue_status.js') }}"></script>
</body>
</html>