<!DOCTYPE html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <header>TEST</header>

    <div id="app">
        <div v-for="(row, key) in response" :key="key" :class="key" id="table">
            <div v-for="(element, element_key) in row" :key="element_key" :class="key" id="value">
                <span v-if="checkLength(key)">
                    <p>[[ element ]]</p>
                    <input type="text">
                </span>
                <span v-else><p>[[ element ]]</p></span>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='test.js') }}"></script>

</body>